.TodoList {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.TodoList .date,
.TodoList .description,
.TodoList .priority {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.TodoList .priority {
  box-sizing: border-box;
  margin-right: 0;
  margin-left: 0;
}

.TodoList .description {
  height: 3rem;
  resize: none;
}

.TodoList .date {
  margin-bottom: 0.5rem;
}

.TodoList .date:focus,
.TodoList .description:focus,
.TodoList .priority:focus,
.TodoList .button:hover {
  outline: 2px solid #19ce73;
}

.TodoList .button:hover {
  background-color: #19ce73;
  color: #001313;
}

.TodoList .button.red {
  background-color: #da4848;
  color: #fff;
}

.TodoList .button.red:hover {
  background-color: #ff6666;
  outline: 2px solid #da4848;
  border: 1px solid #da4848;
}
