.TodoList {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.TodoList .date,
.TodoList .description {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.TodoList .description {
  height: 3rem;
  resize: none;
}

.TodoList .date {
  margin-bottom: 0.5rem;
}

.TodoList .date:focus,
.TodoList .description:focus,
.TodoList .button:hover {
  outline: 2px solid #19ce73;
}

.TodoList .button:hover {
  background-color: #19ce73;
  color: #001313;
}
